.cloodle-name {
  font-family: 'Permanent Marker', cursive;
}

.cloodle-code-box {
  width: 50%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
  border: solid gray 2px;
}

.slider {
  background-image: linear-gradient(to left, #27ae60, #c0392b) !important;
  border: solid black 1px !important;
  width: 450px;
  float: left;
}
